trigger: none

pool:
  name: my agent pool

stages:
- stage: Static_Code_Analysis
  displayName: Static Code Analysis
  jobs:
  - job: SonarQube_Scan
    displayName: SonarQube Scan
    steps:

    # ----------------------------
    # SonarQube Prepare
    # ----------------------------
    - task: SonarQubePrepare@8
      displayName: Prepare SonarQube Analysis
      inputs:
        SonarQube: 'ado-sonar-svc'
        scannerMode: 'cli'
        configMode: 'manual'
        cliProjectKey: 'todo-ui-001'
        cliProjectName: 'todo-ui-001'
        cliSources: '.'

    # ----------------------------
    # SonarQube Analyze
    # ----------------------------
    - task: SonarQubeAnalyze@8
      displayName: Run SonarQube Analysis
      inputs:
        jdkversion: 'JAVA_HOME_17_X64'

    # ----------------------------
    # SonarQube Publish
    # ----------------------------
    - task: SonarQubePublish@8
      displayName: Publish SonarQube Result
      inputs:
        pollingTimeoutSec: '300'
